<!DOCTYPE HTML>
<html>
    <head>
        <title>Spring~</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div>Hello, everyone!</div>
        <a href = "test">Main</a> </br>
        <a href = "login">Log in</a> </br>
        <a href = "registration">Sign up</a> </br>
    </body>
</html>