<html>
    <head>
        <title>Spring~</title>
    </head>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>
            <b>Create new user:</b>
            <form method="post" action="/main">
                <input type="text" name="name" placeholder="Input name">
                <input type="text" name="message" placeholder="Message">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Add</button>
            </form>
        </div>
        <div>
            <b>Find by name:</b>
            <form method="post" action="filter">
                <input type="text" name="filter">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>
        </div>
        <b>List of users</b>
            {{#users}}
            <div>
            <b>{{id}}</b>
            <span>{{name}}</span>
            <span>{{message}}</span>
            <a>{{time}}</a>
            </div>
            {{/users}}
    </body>
</html>