<html>
    <head>
        <title>Spring~</title>
    </head>
    <body>
        <div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>
            <b>Write new message:</b>
            <form method="post" action="/main">
                <input type="text" name="tag" placeholder="Tag">
                <input type="text" name="text" placeholder="Message">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Add</button>
            </form>
        </div>
<!--        <div>-->
<!--            <b>Search users:</b>-->
<!--            <form method="post" action="/search">-->
<!--                <input type="text" name="filter">-->
<!--                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--            </form>-->
<!--        </div>-->
        <b>Messages:</b>
            {{#messages}}
            <div>
                <b>{{tag}}</b>
                <span>{{authorName}}</span>
                <span>{{text}}</span>
            </div>
            {{/messages}}
    </body>
    <a href = "main">Main</a> </br>
    <a href="/">Home</a> </br>
    <a href = "test">Test</a> </br>
    <a href = "login">Log in</a> </br>
    <a href = "registration">Sign up</a> </br>
</html>