<!DOCTYPE HTML>
<html>
<head>
    <title>Spring~</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<b>Registration (user)</b>
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label>Username: <input type="text" name="username"></label></div>
    <div><label>Password: <input type="password" name="password"></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Register"></div>
</form>
</body>
</html>