<!DOCTYPE HTML>
<html>
<head>
    <title>Spring~</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>You're authorized! </div>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
    <a href = "main">Main</a> </br>
    <a href="/">Home</a> </br>
    <a href = "test">Test</a> </br>
    <a href = "login">Log in</a> </br>
    <a href = "registration">Sign up</a> </br>
</body>
</html>